.paginationBtn {
  width: 100%;
  display: flex;
  justify-content: end;
  column-gap: 15px;
}

.currPageNumber {
  width: 30px;
  color: black;
  font-size: 1.4em;
  padding: 0.6em 0;
}

.cardsQuantity {
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 8px;
}