.searchWrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.searchInput {
  padding: 0 8px;
  box-sizing: border-box;
  width: 60%;
  font-size: 1.4em;
  border-radius: 8px;
  border-color: aliceblue;
}

.searchBtn {
  width: 120px;

}

.searchBtn:hover {
  background-color: darkgoldenrod;
  border-color: aliceblue;
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  .searchBtn {
    padding: 8px;
    width: 80px;
    font-size: 1.8em;
  }
}