.line {
  margin: 15px 0;
  width: 30%;
  height: 10px;
  border-radius: 5px;
  border: transparent;
  overflow: hidden;
}

.visible {
  border: solid gray;
}

.line::after {
  content: '';
  display: block;
  background: transparent;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
}

.line.tooWeak::after {
  background: red;
  width: 25%;
}

.line.weak::after {
  background: orange;
  width: 50%;
}

.line.medium::after {
  background: yellow;
  width: 75%;
}

.line.strong::after {
  background: green;
  width: 100%;
}