.mainWrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
}

.loading {
  font-size: 3em;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px 0;
  animation: pulse 2s ease infinite;
}
