.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid gray;
  margin: 10px;
  padding: 10px;
}

.lastCard {
  border: 2px solid rgb(10, 187, 58);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  text-align: center;
  margin: 10px;
}

.dataItemTitle {
  font-weight: 600;
}